.reveal section img {
  border: 0;
  box-shadow: none;
  vertical-align: middle;
}

h1 {
  text-transform: none !important;
}

h2 {
  text-transform: none !important;
}

h3 {
  text-transform: none !important;
}
