.reveal section img {
  border: 0;
  box-shadow: none;
  vertical-align: middle;
  background: none;
}

.template-note {
  letter-spacing: 0.1em;
  font-size: 0.25em !important;
}

h1 {
  text-transform: none !important;
}

h2 {
  text-transform: none !important;
}
